<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="private.config">
    <add key="watson.api.url" value="https://gateway-a.watsonplatform.net/calls/url" />
    <add key="wp.url" value="http://blog.marin.cr" />
    <add key="wp.user" value="marinoscar" />
    <add key="user.id" value="d3636edf555f4afb-bf9e614ec3671c94" />
    <add key="azure.table.contents" value="appkcontents" />
    <add key="buffer.api" value="https://api.bufferapp.com/1" />
  </appSettings>
</configuration>